* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
header {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}
.btn {
  background: #3a415e;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 4px;
  margin-top: 10px;
}
.btn-clr {
  background: #3a415e;
  color: white;
  border: none;
  border-radius: 4px;
}
.btn-clr:hover {
  background: #546090 !important;
  color: white;
  transition: 0.1s;
}
.btn:hover {
  background: #546090 !important;
  color: white;
  transition: 0.1s;
}
#tag {
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 40px;

  font-size: 2rem;
  line-height: 1.2em;
}

#left-main {
  margin-top: 10px;
  width: 80%;
  height: auto;
}
#action {
  margin-left: 60px;
}
@media (max-width: 830px) {
  .img {
    display: none;
  }
  section {
    background-color: lavender;
  }
  .title {
    font-size: 20px;
  }
}
