<% include ./partials/header %>
    <section>
     <div class="hero">
      <div class="left-sec">
        <h1 id="tag-line">Find amazing events happening around you.</h1>
        <a href="/signup" id="action">Get Started</a>
      </div>
      <div>
        <img src="res/events.png" alt="events" id="img">
      </div>
     </div>
    </section>
 <% include ./partials/footer %>
