<!DOCTYPE html>
<html>

<head>
    <title>EventBay | Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="content">
                <h2 class="fade-in">Don't Have an Account Yet ?</h2>
                <small id="line" class="fade-in">Let's Get you all setup so you can start <br>creating awesome events</small>
                <a href="/signup" id="login" class="fade-in">Sign Up</a>
            </div>
            <div class="form fade-in">
                <div>
                    <% include ./partials/messages %>
                </div>
                <div class="form-head">
                    <h3>Sign In to your Account</h3>
                    <small id="line">Sign in to your account so you can start <br>creating awesome events</small>
                </div>
                <form action="/signin" method="post">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined'?email:''%>">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <div>
                        <p id="shortLink"><a href="#">Forget Password?</a><a href="/" class="visible"> | &nbsp;Home</a></p>
                    </div>
                    <button type="submit" id="submit">Sign In</button>
                </form>
            </div>
        </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>